<h1><%= @cocktail.name %></h1>
<td>
          <% if @cocktail.photo? %>
            <%= cl_image_tag @cocktail.photo, width: 200, height: 300, crop: :fill %>
          <% end %>
        </td>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> - <%= dose.ingredient.name %></li>
  <%= link_to "Delete this dose", cocktail_dose_path(dose.id), method: "delete", data: { confirm: "Sure?" } %>
  <% end %>
</ul>

<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to cocktails list", cocktails_path %>
<%= link_to 'Destroy', cocktail_path, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
